.main-page-container {
  height: 150vh;
  width: 100%;
  background-color: rgb(28, 31, 37);
}

.main-page-body-container {
  height: calc(94% - 1px);
  width: 100%;
  display: flex;
}

.divider-1 {
  height: 1px;
  width: 100%;
  background-color: grey;
}

.divider-2 {
  height: 100%;
  width: 1px;
  background-color: grey;
}
