.products-comp-container {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.products-border {
  height: calc(100% - 40px);
  width: 95%;
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  margin-top: 40px;
}

.products-header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
}

.products-grid {
  height: calc(100% - 61px);
  width: 100%;
  //   background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-grid-item {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .product-image {
    height: 50%;
    width: 90%;
  }
}

.add-products-container {
  height: 10%;
  width: 60%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .products-button {
    height: 80%;
    width: 30%;
    font-size: 30px;
    border-radius: 6px;
    background-color: grey;
    border-style: none;
    transition: transform 0.1s;
  }

  .products-button:active {
    transform: translateY(3px);
  }
}
